div {
    border: 1px dashed gray; /* divisória pontilhada entre as divs */    
}

.janela{
    
    width: 95vw;
    height: 400px;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: darkgray;
}

/* 1a questao - item a */
.itema {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    

}
#itemaC{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
}
#itemaF {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(117, 117, 241);
}
#itemaH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item b */
.itemb {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#itembA{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#itembC{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
}
#itembF {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(117, 117, 241);
}
#itembH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item c */
.itemc {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
#itemcA{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#itemcB{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4 ;
}
#itemcC{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
}
#itemcF {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(117, 117, 241);
}
#itemcH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item d */
.itemd {        
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 50px;
    
}
#itemdA{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#itemdB{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
#itemdC{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
}
#itemdF {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(117, 117, 241);
}
#itemdH {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item e */
.iteme {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
#itemeA{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#itemeB{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
#itemeC{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
}
#itemeD{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#itemeF {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: rgb(117, 117, 241);
}
#itemeH {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item g */
.itemg {        
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    
}
#itemgC{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
}
#itemgF {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(117, 117, 241);
}
#itemgH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item h */
.itemh {        
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr 2fr 2fr; /* 400px */
    
}
#itemhA{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}
#itemhB{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
}
#itemhC{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: white;
    
}
#itemhD{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
    background-color: darkgray;
}
#itemhE{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    
    background-color: darkgray;
}
#itemhF {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(117, 117, 241);
}
#itemhH {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item i */
.itemi {        
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(3, 1fr) 2fr 1fr; /* 400px */
    background-color: white;
}
#itemiA{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 1;
    background-color: darkgray;
}
#itemiB{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;    
    z-index: 2;
    background-color: darkgray;
}
#itemiC{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: white;
    
}
#itemiF {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: rgb(117, 117, 241);
}
#itemiH {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item j */
.itemj {        
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    background-color: white;
}
#itemjA{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: darkgray;
}
#itemjB{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;    
    background-color: darkgray;
}
#itemjC{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 8;
    background-color: white;
    
}
#itemjD {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: darkgray;
}
#itemjE {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: darkgray;
}
#itemjF {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: rgb(117, 117, 241);
}
#itemjG {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: darkgray;
}
#itemjH {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(117, 117, 241);
}
#itemjI {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: darkgray;   
}

/* 1a questao - item L = M */
.iteml {        
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}
#itemlA{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgray;
}
#itemlB{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;    
    background-color: darkgray;
}
#itemlC{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: white;
    
}
#itemlD {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: darkgray;
}
#itemlE {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: darkgray;
}
#itemlH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: rgb(117, 117, 241);
}

/* 1a questao - item n */
.itemn {        
    display: grid;
    grid-template-columns: 1fr 2fr 8fr;
    grid-template-rows: repeat(2, 1fr);
}
#itemnA{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: darkgray;
}
#itemnB{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;    
    background-color: darkgray;
}
#itemnC{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    
}
#itemnH {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(117, 117, 241);
}